/* components/Footer.module.css */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #333; /* You can customize the background color */
  color: #FFFFFF; /* You can customize the text color */
}


.logo {
  height: 3em;
  margin: 5px;
}
